<div class="row d-flex justify-content-center my-5">
    <div class="col-md-6">    
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Rol</h5>
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="mb3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
                            Name is required
                        </div>
                    </div>
                    <input type="submit" value="Update" class="btn btn-warning my-3" [disabled]="formulario.invalid">
                    <input type="button" value="Return" class="btn btn-primary ms-2" (click)="onReturn()">
                </form>
            </div>
        </div>
    </div>
</div>
